@charset "utf-8";

/* header-top start */
#header-top{
    width:100%;
    height:50px;
    background-color: #FF0036;
    opacity: .95;
    position:fixed;
    top:-50px;
    transition: top .3s ease-out;
    z-index: 96;
}
#header-top .h-t-con{
    width:1200px;
    height:50px;
    margin:auto;
    background-color:transparent;
}
#header-top .h-t-con .t-c-logo{
    float: left;
    margin-top:8px;
    width:170px;
    height:30px;
    background:url("../images/top_logo.png") no-repeat;
}
#header-top .h-t-con .t-c-seek{
    position: relative;
    width: 740px;
    height: 30px;
    margin:0 auto;
    padding-top:12px;
}
.h-t-con .t-c-seek .c-s-input{
    width:650px;
    height:30px;
}
.h-t-con .t-c-seek .c-s-input > input{
    position: relative;
    width:640px;
    height:20px;
    line-height: 20px;
    padding:5px 3px 5px 5px;
    border:none;
    z-index: 2;
    font-size:14px;
    outline: none;
}
.h-t-con .t-c-seek .c-s-input > input:focus::-webkit-input-placeholder{
    color:#ccc;
}

.h-t-con .t-c-seek .c-s-btn{
    position: absolute;
    right:2px;
    top:11px;
    width:90px;
    height: 32px;
    line-height: 30px;
    background-color:rgb(255, 0, 54);
    outline: none;
    border: none;
    color:#fff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
/* end header-top */
