@charset 'UTF-8';

/* header start */
#header{
	height:200px;
}

/* header-nav start */
#header .header-nav{
	height:32px;
	border-bottom:1px solid #e5e5e5;
	background-color:#f2f2f2;
}
#header .header-nav .header-nav-content{
	width:1230px;
	height:100%;
	margin:auto;
	color:#999;
}

	/* header-nav-left start */
	#header .header-nav  .header-nav-left{
		line-height:32px;
	}
	#header .header-nav  .header-nav-left em{
		font-style:normal;
	}
	#header .header-nav  .header-nav-left a{
		padding-left:15px;
	}
	#header .header-nav  .header-nav-left a:hover{
		color:#ff0036;
	}
	/* end header-nav-left */

	/* header-nav-right start */
	#header .header-nav  .header-nav-right{
		float:right;
		line-height:32px;
	}
	#header .header-nav  .header-nav-right > div{
		float:left;
		margin:0 3px;
		line-height:32px;
	}
	#header .header-nav  .header-nav-right .header-nav-mytaobao > a{
		display:blocK;
		width:72px;
		height:100%;
		text-indent:10px;
		border-width:0 1px 1px;
		border-style:solid;
		border-color:transparent;
	}
	#header .header-nav  .header-nav-right .on > a:after{
		content:'';
		display:block;
		width:0;
		height:0;
		position:absolute;
		top:0;
		bottom:0;
		right:6px;
		margin:auto;
		border-width:3px;
		border-style:solid;
		border-color:#bbb transparent;
		border-bottom:none;
		transition:.2s linear;
	}
	#header .header-nav  .header-nav-right .header-nav-mytaobao:hover a{
		border-color:#eee;
		border-bottom:1px solid #fff;
	}
	#header .header-nav  .header-nav-right .header-nav-mytaobao a:hover{
		color:#ff0036;
		text-decoration:underline;
	}
	#header .header-nav  .header-nav-right .header-nav-mytaobao:hover ul{
		display:block;
		border-width:0 1px 1px;
		border-style:solid;
		border-color:#eee;
		color:#666;
		background-color:#fff;
		z-index:9999;
	}
	#header .header-nav  .header-nav-right .header-nav-mytaobao:hover{
		background-color:#fff;
	}
	#header .header-nav  .header-nav-right .header-nav-mytaobao:hover > a:after{
		transform:rotate(180deg);
	}
	#header .header-nav  .header-nav-right .header-nav-mytaobao ul{
		display:none;
		top:32px;
		padding:10px;
		line-height:20px;
		width:74px;
	}
	.header-nav .header-nav-right .header-nav-shopcat{
		width: 78px;
	}
	.header-nav .header-nav-right .header-nav-shopcat i{
		vertical-align:middle;
		color:#ff0036;
	}
	.header-nav .header-nav-right .header-nav-shopcat a:hover{
		color:#ff0036;
	}
	.header-nav .header-nav-right .header-nav-shopcat a > span{
		font-weight:bold;
		margin:2px;
	}
	.header-nav .header-nav-right .header-nav-favorite > a{
		display:blocK;
		width:60px;
		height:100%;
		text-indent:10px;
		border-width:0 1px 1px;
		border-style:solid;
		border-color:transparent;
	}
	.header-nav .header-nav-right .header-nav-favorite a:hover{
		color:#ff0036;
		text-decoration:underline;
	}
	.header-nav .header-nav-right .header-nav-favorite:hover > a:after{
		transform:rotate(180deg);
	}
	.header-nav .header-nav-right .header-nav-favorite ul{
		display:none;
		top:32px;
		padding:10px;
		line-height:20px;
		width:60px;
		color:#666;
		background-color:#FFF;
		z-index:9999;
	}
	.header-nav .header-nav-right .header-nav-favorite:hover ul{
		display:block;
		border-width:0 1px 1px;
		border-style:solid;
		border-color:#eee;
	}
	.header-nav .header-nav-right .header-nav-favorite:hover a{
		border-color:#eee;
		background-color:#fff;
		border-bottom:1px solid #fff;
	}
	.header-nav  .header-nav-right .header-nav-phone i{
		color:#ff0036;
		vertical-align:middle;
	}
	.header-nav .header-nav-right .header-nav-phone{
		padding-left:12px;
		width:64px;
	}
	.header-nav .header-nav-right .header-nav-phone:before{
		content:'';
		display:block;
		height:15px;
		width:1px;
		position:absolute;
		top:9px;
		left:0;
		background-color:#ccc;
	}
	.header-nav .header-nav-right .header-nav-phone a:hover{
		color:#ff0036;
	}
	.header-nav .header-nav-right .header-nav-phone:after{
		content:'';
		display:block;
		position:absolute;
		border-width:6px;
		border-style:solid;
		border-color:#fff transparent;
		border-top:none;
		left: 45px;
		top: 24px;
	}
	.header-nav .header-nav-right .header-nav-phone:after{
		display:none;
	}
	.header-nav .header-nav-right .header-nav-phone:hover:after{
		display:block;
	}
	.header-nav .header-nav-right .header-nav-phone:hover .h-nav-phone-bg{
		display:block;
	}
	.header-nav .header-nav-right .header-nav-phone .h-nav-phone-bg{
		width:176px;
		height:228px;
		background:url('../images/1.png') no-repeat 0 0;
		background-size:100%;
		box-shadow:0 0px 5px 0 #bbb;
		left:-38px;
		top:30px;
		display:none;
		z-index:9999;
		background-color:#FFF;
	}
	.header-nav .header-nav-right .header-nav-Taobao{
		width:48px;
		text-align:center;
	}
	.header-nav .header-nav-right .header-nav-Taobao a:hover{
		color:#ff0036;
	}
	#header .header-nav .header-nav-right .header-nav-support{
		width:73px;
		border-width:0 1px 1px;
		border-style:solid;
		border-color:transparent;
		margin:0;
	}
	.header-nav .header-nav-right .header-nav-support > a{
		padding-left:10px;
	}
	#header .header-nav .header-nav-right .header-nav-support:hover{
		border-color:#eee;
		background-color:#fff;
		border-bottom:1px solid #fff;
	}
	.header-nav .header-nav-right .header-nav-support .h-nav-support-con{
		padding:12px 12px 10px 12px;
		width:118px;
		height:164px;
		top:32px;
		right:-1px;
		border-width:0 1px 1px;
		border-style:solid;
		border-color:#eee;
		display:none;
		background-color:#FFF;
		z-index:9999;
	}
	.header-nav .header-nav-right .header-nav-support a:hover{
		color:#ff0036;
		text-decoration:underline;
	}
	.header-nav .header-nav-right .header-nav-support > a{
		display:block;
		height:100%;
	}
	.header-nav .header-nav-right .header-nav-support:hover > a:after{
		transform:rotate(180deg);
	}
	.header-nav .header-nav-right .header-nav-support:hover .h-nav-support-con{
		display:block;
	}
	.header-nav .header-nav-right .header-nav-support .h-nav-support-con h4{
		line-height:16px;
	}
	.header-nav .header-nav-right .header-nav-support .h-nav-support-con h4:nth-of-type(2){
		margin-top:6px;
	}
	.header-nav .header-nav-right .header-nav-support .h-nav-support-con ul{
	    padding-bottom: 6px;
		border-bottom:1px dotted #827777;
	}
	.header-nav .header-nav-right .header-nav-support .h-nav-support-con ul li{
		float:left;
		line-height:22px;
	}
	.header-nav .header-nav-right .header-nav-support .h-nav-support-con ul li:nth-of-type(odd){
		margin-right:22px;
	}

	#header .header-nav .header-nav-right .header-nav-siteMap{
		width:90px;
		border-width:0 1px 1px;
		border-style:solid;
		border-color:transparent;
		margin:0;
		over
	}
	.header-nav .header-nav-right .header-nav-siteMap i{
		vertical-align:middle;
		color:#ff0036;
	}
	.header-nav .header-nav-right .header-nav-siteMap > a{
		display:block;
		height:100%;
		padding-left:10px;
	}
	.header-nav .header-nav-right .header-nav-siteMap:hover > a{
		display:block;
		height:100%;
	}
	.header-nav .header-nav-right .header-nav-siteMap:hover > a:after{
		transform:rotate(180deg);
	}
	#header .header-nav .header-nav-right .header-nav-siteMap:hover{
		border-color:#eee;
		background-color:#fff;
		border-bottom:1px solid #fff;
	}
	#header .header-nav .header-nav-right .header-nav-siteMap:hover .h-nav-siteMap-con{
		display:block;
	}
	#header .header-nav .header-nav-right .header-nav-siteMap >a > i{
		margin-right:3px;
	}
	.header-nav .header-nav-right .header-nav-siteMap .h-nav-siteMap-con{
		width:1200px;
		height:100px;
		background-color:#fff;
		top:33px;
		right:-1px;
		border-width:0 1px 1px;
		border-style:solid;
		border-color:#eee;
		padding:30px 0;
		color:#666;
		overflow:hidden;
		display:none;
		z-index:9999;
	}
	.header-nav .header-nav-right .header-nav-siteMap .h-nav-siteMap-con .h-nav-s-left{
		width:456px;
		height:110px;
		padding-left:30px;
		border-right:1px solid #f5f5f5;
		float:left;
	}
	.header-nav .header-nav-right .header-nav-siteMap .h-nav-siteMap-con .h-nav-s-left a:hover{
		color:#f56a00;
		text-decoration:underline;
	}
	.header-nav .header-nav-right .header-nav-siteMap .h-nav-siteMap-con .h-nav-s-left h2{
		color:#f5700b;
		font-weight:normal;
		line-height:20px;
		margin-bottom:8px;
	}
	.header-nav .header-nav-right .header-nav-siteMap .h-nav-siteMap-con .h-nav-s-center a:hover{
		color:#6290e0;
	}
	.h-nav-siteMap-con .h-nav-s-left h2 span{
		margin-left:10px;
	}
	.header-nav .header-nav-right .header-nav-siteMap .h-nav-siteMap-con .h-nav-s-left .h-nav-l-c{
		color:#7ca3e6;
	}
	.h-nav-siteMap-con .h-nav-s-left > ul > li{
		width:95px;
		height:16px;
		margin:6px 0;
		float:left;
		margin:;
		line-height:16px;
	}
	.h-nav-siteMap-con .h-nav-s-left > ul{
		margin-right:-20px;
		overflow:hidden;
	}
	.h-nav-siteMap-con .h-nav-s-left .h-nav-s-left-icon{
		width:9px;
		height:11px;
		background:url('../images/2.png') no-repeat -37px -11px;
		position:absolute;
		top:-6px;
		right:-9px;s
	}
	.h-nav-siteMap-con .h-nav-s-left .left-icon-pos{
		background-position:-37px 0;
	}
	.header-nav .header-nav-right .header-nav-siteMap .h-nav-siteMap-con .h-nav-s-right{
		width:194px;
		overflow:hidden;
	}
	.header-nav .header-nav-right .header-nav-siteMap .h-nav-siteMap-con .h-nav-s-right h2{
		color:#7f7f7f;
	}
	.header-nav .header-nav-right .header-nav-siteMap .h-nav-siteMap-con .h-nav-s-right a:hover{
		color:#666;
	}
	/* end header-nav-right */

	/* header-container start */
	.header-container{
		width:1230px;
		margin:0 auto;
		height:169px;
	}
	.header-container .h-con-top{
		height:108px;
	}
	.header-container .h-con-top .logo{
		width:290px;
		height:130px;
		margin-left:-45px;
	}
	.header-container .h-con-top .logo a{
		display:block;
		width:100%;
		height:100%;
	}
	.header-container .h-con-top .h-con-content{
		width:625px;
		height:74px;
		left:0;
		right:0;
		margin:auto;
		margin-top:38px;
	}
	.header-container .h-con-top .h-con-content .h-c-con{
		width:626px;
		height:38px;
	}
	.header-container .h-con-top .h-con-content .h-c-con > button{
		top:0;
		right:0;
		width:130px;
		height:40px;
		font-size:18px;
		color:#fff;
		line-height:40px;
		text-align:center;
		background-color:#FF0036;
		font-weight:bold;
		cursor:pointer;
	}
	.header-container .h-con-top .h-con-content .h-c-con .h-c-con-bor{
		width:494px;
		height:36px;
		border-width:2px 0 2px 2px;
		border-style:solid;
		border-color:#ff0036;
	}
	.header-container .h-con-top .h-con-content .h-c-con .h-c-con-bor input{
		width:484px;
		height:26px;
		padding:5px;
		font-size:14px;
		line-height:26px;
		border:none;
		outline:none;
		font-family:tahoma, arial, 宋体;
	}
	.header-container .h-con-top .h-con-content > ul{
		overflow:hidden;
		margin-top:2px;
	}
	.header-container .h-con-top .h-con-content > ul > li{
		height:30px;
		line-height:30px;
		float:left;
		position:relative;
		text-align:center;
		font-size:14px;
		margin:0 13px;
		color:#999;
	}
	.header-container .h-con-top .h-con-content > ul > li:nth-of-type(1){
		margin-left:0;
	}
	.header-container .h-con-top .h-con-content > ul > li:nth-of-type(2) > a{
		color:#ff0036;
	}
	.header-container .h-con-top .h-con-content > ul > li:nth-of-type(4) > a{
		color:#ff0036;
	}
	.header-container .h-con-top .h-con-content > ul > li:nth-of-type(7) > a{
		color:#ff0036;
	}
	.header-container .h-con-top .h-con-content > ul > li:nth-of-type(9) > a{
		color:#ff0036;
	}
	.header-container .h-con-top .h-con-content > ul > li + li:before{
		content:'';
		display:block;
		height:15px;
		width:1px;
		background-color:#ccc;
		position:absolute;
		top:0;
		left:-13px;
		bottom:0;
		margin:auto;
	}
	.header-container .h-con-top .h-con-content > ul > li > a{
		font-family:tahoma, arial, 宋体;
	}

	.header-container .h-con-bottom{
		width:1230px;
		height:37px;
		bottom:0;
	}
	.header-container .h-con-bottom .h-con-b-com{
		height:37px;
		background-color:#FF0036;
		color:#fff;
		line-height:36px;
		width:200px;
		text-indent:15px;
		float:left;
		font-weight:normal;
	}
	.header-container .h-con-bottom .h-con-b-com > span{
		font-size:16px;
		font-weight:bold;
	}
	.header-container .h-con-bottom .h-con-b-com > i{
		padding-right:2px;
		font-size:20px;
		vertical-align:middle;
	}
	.header-container .h-con-bottom .h-con-b-com > ul{
		background-color: rgba(0, 0, 0, 0.55);
		height:500px;
		top:37px;
		left:0;
		width:200px;
		z-index:9999;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li{
		height:31px;
		line-height:31px;
		color:#fff;
		font-size:14px;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:hover .left-nav-con{
		display:block;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(even):hover > a{
		color:#427def;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(even) .nav-con-a > ul > li > a:hover{
		color:#427def;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(even):hover .left-nav-con span{
		color:#427def;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(even):hover > i{
		color:#427def;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(even):hover{
		color:#427def;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(8):hover > a{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(8):hover > i{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(8) .nav-con-a > ul > li > a:hover{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(8):hover{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(8) .left-nav-con .nav-con-l span{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(9):hover > a{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(9) .nav-con-a > ul > li > a:hover{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(9):hover > i{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(9):hover{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(9) .left-nav-con span{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(12):hover > a{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(12) .nav-con-a > ul > li > a:hover{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(12):hover > i{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(12):hover{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:nth-of-type(12) .left-nav-con .nav-con-l span{
		color:#f7ab38;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:hover{
		color:#e54077;
		font-weight:bold;
		background-color:#fff;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:hover > i{
		color:#e54077;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li:hover > a{
		color:#e54077;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li > a{
		color:#fff;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li > a:hover{
		color:#e54077;
		text-decoration:underline;
	}
	.header-container .h-con-bottom .h-con-b-com > ul > li > i{
		padding-right:5px;
		color:#b4b4b4;
	}
	.header-container .h-con-bottom .h-con-b-list{
		float:left;
	}
	.header-container .h-con-bottom .h-con-b-list > li{
		float:left;
		margin:0 8px;
		line-height:37px;
	}
	.header-container .h-con-bottom .h-con-b-list > li > a{
		font-size:16px;
		color:#333;
	}
	.header-container .h-con-bottom .h-con-b-list > li > a:hover{
		color:#ff0036;
	}
	.header-container .h-con-bottom .h-con-b-list > li > a > img{
		width:100px;
		height:30px;
		margin-top:-3px;
	}
		/* left-nav con start */
			.h-con-bottom .h-con-b-com .left-nav-con{
				width:854px;
				height:500px;
				background-color:#fafafa;
				position:absolute;
				left:200px;
				top:0;
				display:none;
			}
			.h-con-bottom .h-con-b-com .left-nav-con .nav-con-l{
				width:585px;
				height:462px;
				background-color:#fff;
				padding:19px 30px;
				font-weight:normal;
				float:left;
			}
			.left-nav-con .nav-con-l > ul > li > .nav-con-tit{
				width:90px;
				float:left;
				text-indent:5px;
			}
			.left-nav-con .nav-con-l > ul > li + li{
				margin-bottom: 8px;
			}
			.left-nav-con .nav-con-l > ul > li > .nav-con-tit h3{
				font-size:14px;
				color:#333;
				line-height:24px;
			}
			.left-nav-con .nav-con-l > ul > li > .nav-con-tit h3:after{
				content:'';
				display:block;
				width:5px;
				height:5px;
				border-width:1px;
				border-style:solid;
				border-color:#333 #333 transparent transparent;
				transform:rotate(45deg);
				position:absolute;
				top:0;
				bottom:0;
				margin:auto;
				right:18px;
			}
			.left-nav-con .nav-con-l > ul > li .nav-con-a{
				float:left;
				width:495px;
				height:100%;
				border-bottom:1px dashed rgba(0,0,0,.1);
				padding-bottom: 10px;
			}
			.left-nav-con .nav-con-l > ul > li:after{
				content:'';
				display:block;
				width:0;
				height:0;
				clear:both;
			}
			.left-nav-con .nav-con-l > ul > li:last-of-type .nav-con-a{
				border-bottom:none;
			}
			.left-nav-con .nav-con-l > ul > li .nav-con-a a span{
				color:#e54077;
			}
			.left-nav-con .nav-con-l > ul > li .nav-con-a a:hover{
				color:#e54077;
			}
			.left-nav-con .nav-con-l > ul > li .nav-con-a > ul > li{
				float:left;
				line-height:24px;
				color:#666;
			}
			.left-nav-con .nav-con-r{
				width:188px;
				height:480px;
				float:right;
				padding:10px;
			}
			.left-nav-con .nav-con-r > ul > li{
				float:left;
			}
			.left-nav-con .nav-con-r > ul > li > a{
				display:block;
				width:92px;
				height:45px;
				text-indent:0;
				background-color:#FFF;
				margin-bottom:2px;
			}
			.left-nav-con .nav-con-r > ul > li > a > img:hover{
				opacity:.8;
			}
			.left-nav-con .nav-con-r > ul > li > a:nth-of-type(odd){
				margin-right:2px;
			}
			.left-nav-con .nav-con-r .nav-con-rob{
				text-indent:0;
				margin-top:12px;
			}
		/* end left-nav con */

	/* end header-container */

	