@charset "utf-8";
/* left-nav start */
#left-nav{
    position: fixed;
    bottom: 50px;
    left:50%;
    margin-left: -658px!important;
    width:0px;
    height:0px;
    z-index: 66;
    opacity: 0;
    transition: .4s linear;
    overflow:hidden;
}
#left-nav .l-n-pul{
    width:36px;
    height:36px;
    line-height:36px;
    margin-top:1px;
    text-align: center;
    font-size: 12px;
    color:#fff;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
#left-nav .l-n-header{
    background-color: #ff0036;
}
#left-nav .l-n-body .l-n-pul{
    display: block;
    background-color: rgba(0,0,0,.6);
}
#left-nav .l-n-body a.l-n-pul:nth-of-type(1):hover{
    background-color: #64c333;
}
#left-nav .l-n-body a.l-n-pul:nth-of-type(2):hover{
    background-color: #000;
}
#left-nav .l-n-body a.l-n-pul:nth-of-type(3):hover{
    background-color: #ea5f8d;
}
#left-nav .l-n-body a.l-n-pul:nth-of-type(4):hover{
    background-color: #0aa6e8;
}
#left-nav .l-n-body a.l-n-pul:nth-of-type(5):hover{
    background-color: #64c333;
}
#left-nav .l-n-body a.l-n-pul:nth-of-type(6):hover{
    background-color: #f15453;
}
#left-nav .l-n-body a.l-n-pul:nth-of-type(7):hover{
    background-color: #19c8a9;
}
#left-nav .l-n-body a.l-n-pul:nth-of-type(8):hover{
    background-color: #000;
}
#left-nav .l-n-body a.l-n-bgc1{
    background-color: #64c333;
}
#left-nav .l-n-body a.l-n-bgc2{
    background-color: #000;
}
#left-nav .l-n-body a.l-n-bgc3{
    background-color: #ea5f8d;
}
#left-nav .l-n-body a.l-n-bgc4{
    background-color: #0aa6e8;
}
#left-nav .l-n-body a.l-n-bgc5{
    background-color: #64c333;
}
#left-nav .l-n-body a.l-n-bgc6{
    background-color: #f15453;
}
#left-nav .l-n-body a.l-n-bgc7{
    background-color: #19c8a9;
}
#left-nav .l-n-body a.l-n-bgc8{
    background-color: #000;
}
#left-nav .l-n-body .l-n-pul:last-of-type{
    line-height: 13px;
    background-color: rgba(0,0,0,.3);
}
#left-nav .l-n-body .l-n-pul:last-of-type > i{
    font-size: 18px;
    margin-top: 5px;
    height:13px;
    display: block;
    background:url("../images/nav_top.png") no-repeat 10px;
    background-size: 45%;
}

#left-nav .l-n-body .l-n-con{
    line-height: 12px;
    width: 24px;
    height: 28px;
    margin: 6px auto;
}
/* end left-nav */
